<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ViewMode" value="0116,0094"/>
    <add key="EditPreviousVisit" value="true"/>
    <add key="Uploader" value="~/Uploader/"/>
    <add key="Version_Env" value="Version 2.2.0" />
    <!--Live Server-->
    <!--IIS PATH-->
    <!--<add key="Api_Url" value="http://125.18.133.6:8081/DI_Soft_API/API/" />
    <add key="Web_Url" value="http://125.18.133.6:8081/DI_Soft/" />
    <add key="DB_Name" value="[10.1.10.70].[BizNET].[dbo]."/>
    <add key="DicomURL_1" value="\\10.1.10.112\DICOM"/>
    <add key="DicomURL_2" value="\\10.1.10.112\DICOM"/>-->
    <!--Live Server-->
    <!--IIS PATH-->
    <!--<add key="Api_Url" value="http://10.1.10.112/DI_Soft_API/API/" />
    <add key="Web_Url" value="http://10.1.10.112/DI_Soft/" />
    <add key="DB_Name" value="[10.1.10.70].[BizNET].[dbo]."/>    
    <add key="DicomURL_1" value="\\10.1.10.112\DICOM"/>
    <add key="DicomURL_2" value="\\10.1.10.112\DICOM"/>-->
    <!--Valid Server-->
    <!--IIS PATH-->
    <!--<add key="Api_Url" value="http://125.18.133.6:8081/DISoft_Valid_API/API/" />
    <add key="Web_Url" value="http://125.18.133.6:8081/DISoft_Valid/" />-->
    <!--<add key="DB_Name" value="[10.1.10.70].[BizNETCTM5Valid].[dbo]."/>-->
    <!--<add key="Api_Url" value="http://localhost:51606/API/" />
    <add key="Web_Url" value="http://localhost:51577/" />
    <add key="DicomURL_1" value="\\10.1.10.112\DICOMValid2"/>
    <add key="DicomURL_2" value="\\10.1.10.112\DICOMValid2"/>-->
    <add key="Api_Url" value="http://90.0.1.10/DiSoftCI_WS/API/"/>
    <add key="Web_Url" value="http://90.0.1.10/DiSoftCI/"/>
    <add key="DicomURL_1" value="dicomweb://90.0.1.10/DiSoftCI_WS/DICOMValid2"/>
    <add key="DicomURL_2" value="dicomweb://90.0.1.10/DiSoftCI_WS/DICOMValid2"/>
    <!--Valid Cloud Azure Server-->
    <!--IIS PATH-->
    <!--<add key="Api_Url" value="http://125.18.133.6:8081/DISoft_Valid_API/API/" />
    <add key="Web_Url" value="http://125.18.133.6:8081/DISoft_Valid/" />-->
    <!--<add key="DB_Name" value="[10.1.10.70].[BizNETCTM5Valid].[dbo]."/>-->
    <!--<add key="Api_Url" value="http://104.211.181.105/DISoft_API/API/" />
    <add key="Web_Url" value="http://104.211.181.105/DISoft/" />
    <add key="DicomURL_1" value="\\104.211.181.105\DICOMValid2"/>
    <add key="DicomURL_2" value="\\104.211.181.105\DICOMValid2"/>-->
    <!--Valid Server-->
    <!--IIS PATH-->
    <!--<add key="Api_Url" value="http://10.1.10.112/DI_SoftValid_API/API/" />
    <add key="Web_Url" value="http://10.1.10.112/DI_SoftValid/" />
    <add key="DB_Name" value="[10.1.10.70].[BizNETCTM5Valid].[dbo]."/>    
    <add key="DicomURL_1" value="\\10.1.10.112\DICOMValid"/>
    <add key="DicomURL_2" value="\\10.1.10.112\DICOMValid"/>-->
    <!--Test Server-->
    <!--IIS PATH-->
    <!--<add key="Api_Url" value="http://10.1.10.39/DI_API/API/"/>
    <add key="Web_Url" value="http://10.1.10.39/DI_Soft/" />
    <add key="DB_Name" value="BizNETTest.."/>    
    <add key="DicomURL_1" value="\\10.1.10.39\DICOM"/>
    <add key="DicomURL_2" value="\\10.1.10.39\DICOM"/>-->
    <!--Local Server-->
    <!--IIS PATH-->
    <!--<add key="Api_Url" value="http://localhost:51606/API/"/>
    <add key="Web_Url" value="http://localhost:51577/" />-->
    <!--<add key="DB_Name" value="BizNETTest.."/>-->
    <!--<add key="DicomURL_1" value="\\10.1.10.112\DICOMValid"/>
    <add key="DicomURL_2" value="\\10.1.10.112\DICOMValid"/>-->
    <!--<add key="DicomURL_1" value="\\90.0.0.68\MI_API"/>
    <add key="DicomURL_2" value="\\90.0.0.68\MI_API"/>-->
    <add key="QCUserCode" value="0120"/>
    <add key="QC2UserCode" value="0121"/>
    <add key="CAUserCode" value="0122"/>
    <add key="ImageUploaderUserCode" value="0124"/>
    <add key="GraderUserCode" value="0118,0119,0130,0123"/>
    <add key="Split_Url" value="http://localhost/TestDicom"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.8"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, 
            PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <!--Get Post Method-->
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload"/>
        <!--<add name="Content-Security-Policy" value="default-src" />-->
        <add name="X-Content-Type-Options" value="nosniff" />
        <remove name="X-Powered-By"/>
        <remove name="X-AspNet-Version"/>
        <remove name="Server"/>
        <remove name="x-aspnetmvc-version"/>
        <!--<add name="Access-Control-Allow-Origin" value="*" />-->
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>