<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LambdaConStr" connectionString="Data Source=sspldb;Initial Catalog=BizNET_Valid;Persist Security Info=True;User ID=developer;Password=d123;Pooling=false" providerName="System.Data.SqlClient"/>
    <!--<add name="LambdaConStr" connectionString="Data Source=ssplnetserver;Initial Catalog=BizNET_CTM;Persist Security Info=True;User ID=developer;Password=d123;Pooling=false" providerName="System.Data.SqlClient"/>-->
    <!--<add name="LambdaConStr" connectionString="Data Source=10.1.10.38;Initial Catalog=BizNET;Persist Security Info=True;User ID=BizNET;Password=BizNET;Pooling=false" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="999999999"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--following key used for sequence generation module-->
    <!--<identity impersonate="true" userName="admin" password="admin123" />-->
    <!--<httpCookies requireSSL="true"/>-->
    <globalization culture="en-US" uiCulture="en-US"/>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off">
      <error statusCode="403" redirect="Default.aspx"/>
      <error statusCode="404" redirect="frmUnderMaintanance.aspx"/>
    </customErrors>
    <httpRuntime executionTimeout="540000" maxRequestLength="2097151" requestValidationMode="2.0" enableVersionHeader="false"/>
    <sessionState cookieless="false" timeout="181"/>
    <!--<identity impersonate="false"/>-->
    <!--<identity impersonate="true" userName="administrator" password="password@123"/>-->
    <pages buffer="true" controlRenderingCompatibilityVersion="3.5" enableEventValidation="false" validateRequest="false" theme="StyleBlue" clientIDMode="AutoID" viewStateEncryptionMode="Always">
      <namespaces>
        <add namespace="System"/>
        <add namespace="Microsoft.VisualBasic"/>
        <add namespace="System.Data"/>
        <add namespace="System.Data.SqlClient"/>
        <add namespace="System.IO"/>
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms name="Default" loginUrl="Default.aspx" protection="All" timeout="240" path="/"/>
    </authentication>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="office, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.Vbe.Interop, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.VisualC, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add verb="*" path="ssplresources.axd" type="SS.Web.Session.SessionWebSocketRequestHandler, SS.Web" validate="true"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ssplresource" verb="*" path="ssplresources.axd" type="SS.Web.Session.SessionWebSocketRequestHandler, SS.Web" preCondition="managedHandler"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering removeServerHeader="true">
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false"/>
          <add verb="HEAD" allowed="false"/>
          <add verb="TRACE" allowed="false"/>
        </verbs>
      <requestLimits maxQueryString="8156" maxAllowedContentLength="1073741824" />
        </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <remove name="Server"/>
        <remove name="X-AspNet-Version"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload"/>
        <!--<add name="Content-Security-Policy" value="default-src" />-->
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <!--added by ketan for call API of PMS -->
      <!--Local-->
      <!--<add key="ApiUrl_PMS" value="http://10.1.10.39/IMPTRack_WS/API/"/>-->
      <!--<add key="ApiUrl_PMS" value="http://90.0.0.44/WEBAPI/API/" />-->
      <!--39 Test SErver-->
      <!--<add key="ApiUrl_PMS" value="http://10.1.10.39/WEBAPI/API/"/>-->
      <add key="ApiUrl_PMS" value="http://10.1.10.39/IMPTrack_WS/API/"/>
      <add key="DoserName" value="18673"/>
      <add key="DataUpdate_CTM" value="3560"/>
      <add key="DataUpdate_BABE" value="3561"/>
      <add key="Screening" value="0003"/>
      <add key="BaseWorkFolder" value="DocMgmtLambda/"/>
      <add key="BaseWorkFolder_eCTD" value="//90.0.0.86/DocMgmtLambda/workspace"/>
      <add key="BasePublishFolder_eCTD" value="//90.0.0.86/DocMgmtLambda/PublishDestinationFolder"/>
      <add key="FolderForSubjectDetail" value="SubjectDetails1/"/>
      <add key="FolderForDocumentTypeTemplate" value="DocTypeTemplateDetail"/>
      <add key="Validity" value=".txt#.doc#.pdf"/>
      <add key="PublishDate" value="11-Aug-2008"/>
      <add key="VersionNumber" value="1.03"/>
      <add key="connstring" value="Server=SSPLNETSERVER;PWD=d123;Uid=developer;Database=BizNET"/>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
      <add key="FolderForSubjectProof" value="SubjectDetails/SubjectProofDetails/"/>
      <add key="TempSubjectProofDetails" value="TempDocDetail/SubjectProofDetails/"/>
      <add key="SubjectImage" value="localhost\DISoft_WEB\images\SubjectImage\"/>
      <!--<add key="Username" value="biznet.ctm@sarjen.com"/>
    <add key="Password" value="biz456789"/>
    <add key="smtpServer" value="smtp.gmail.com"/>
    <add key="ServerName" value="ssplnetserver"/>
    <add key="ServerPort" value="587"/>
    <add key="ClientName" value="Lambda"/>
    <add key="SslValue" value="True"/>
    <add key="CopyRight" value="Sarjen Systems Pvt LTD."/>-->
      <add key="Username" value="omniback@lambda-cro.com"/>
      <add key="Password" value="Lambda1"/>
      <add key="CopyRight" value=" Lambda Therapeutic Research."/>
      <add key="Client" value=" "/>
      <add key="ClientName" value="Lambda"/>
      <add key="smtpServer" value="10.1.10.55"/>
      <add key="ErrorPage" value="http://localhost/BiznetDISoft_WEB_2_0_0/frmUnderConstruction.aspx" />
      <add key="ServerName" value="ccrmailbox"/>
      <add key="ServerPort" value="25"/>
      <add key="SslValue" value="False"/>
      <!--<add key="Client" value="DEMO Client"/>
    <add key="CopyRight" value="Sarjen Systems Pvt LTD."/>-->
      <!--<add key="Client" value="Vasmed Technologies"/>-->
      <add key="aspnet:MaxHttpCollectionKeys" value="10000"/>
      <add key="CopyRight" value=" Lambda Therapeutic Research."/>
      <add key="Client" value=" Lambda Therapeutic Research."/>
      <!--<add key="SslValue" value="True"/>-->
      <add key="ErrorPage" value="http://localhost/BiznetDISoft_WEB_2_0_0/frmUnderConstruction.aspx" />
      <add key="ChartImageHandler" value="storage=file;timeout=20;deleteAfterServicing=false; webDevServerUseConfigSettings=false; dir=c:\TempImageFiles"/>
      <!--following key used for sequence generation module-->
      <add key="SequenceExportFilePath" value="\\10.1.4.207\ba_share"/>
      <add key="BAPathDomain" value="ahm"/>
      <add key="BAPathUsername" value="biznet"/>
      <add key="BAPathPassword" value="Lambda12"/>
      <add key="UploadFilePath" value="SubjectReports\RptMerge"/>
      <add key="LogoFilePath" value="Logos"/>
      <add key="WS_Lambda.WS_Lambda" value="http://localhost/BiznetDISoft_WS_2_0_0/WS_Lambda.asmx" />
      <add key="WS_HelpDbTable.WS_HelpDbTable" value="http://localhost/BiznetDISoft_WS_2_0_0/WS_HelpDbTable.asmx" />
      <add key="LabIntegration.LabIntegration" value="http://localhost/BiznetDISoft_WS_2_0_0/LabIntegration.asmx" />
      <add key="Publish.Publish" value="http://localhost/BiznetDISoft_WS_2_0_0/Publish.asmx" />
      <add key="DefaultGateway" value="http://localhost/BiznetDISoft_WEB_2_0_0/" />
      <add key="MainPage" value="http://localhost/BiznetDISoft_WEB_2_0_0/" />
      <add key="CRFUploadFilePath" value="http://localhost/BiznetDISoft_WEB_2_0_0/" />
      <add key="QPdfPath" value="SetPdfPropertiesTools\tool\qpdflib\bin\qpdf.exe"/>
      <add key="Weight" value="00443"/>
      <add key="DataTranscription" value="0069"/>
      <add key="ScreeningIndependentReviewer" value="0012,0019"/>
      <add key="FemaleMedExGroupCode" value="'00037'"/>
      <add key="vLocationForDBMerge" value="'0006','0042'"/>
      <add key="UnderMaintanance" value="N"/>
      <add key="HardCodeEligibilityDeclare" value="'25102'"/>
      <!--<add key="DISoftURL" value="http://10.1.10.112/DI_SoftValid/"/>
    <add key="DIServer" value="[10.1.10.113].[DISoftValid].[dbo]."/>-->
      <add key="DISoftURL" value="http://localhost/DiSoftCI/" />
      <add key="DIServer" value="[BizNetMITest].[dbo]."/>
      <add key="Medex_DateOfBirth" value="00608,28065"/>
      <add key="Medex_Age" value="00609,28066"/>
      <add key="Medex_BMI" value="00323,28073"/>
      <add key="Medex_Height" value="00321,28071"/>
      <add key="Medex_Weight" value="00443,28072"/>
      <add key="Medex_Temperature_F" value="00362,28076"/>
      <add key="Medex_Temperature_C" value="00610,28077"/>
      <add key="MedExCodeForGender" value="00440,28068"/>
      <add key="ECGPath" value="ECG"/>
      <add key="ECGFirstReview" value="0105,0030,0005"/>
      <add key="ECGSecondReview" value="0024"/>
      <add key="ECGThirdReview" value="0024"/>
      <add key="ECGFinalReview" value="0001"/>
      <!--<add key ="ECGPath" value="ECG"></add>
    <add key="ECGFirstReview" value="0005"/>
    <add key="ECGSecondReview" value="0005"/>
    <add key="ECGFinalReview" value="0005"/>-->
      <add key="CRFActivityMgmtForMI" value="0035,0127"/>
      <add key="QCUserCode" value="0120"/>
      <add key="QC2UserCode" value="0121"/>
      <add key="CAUserCode" value="0122"/>
      <add key="ImageUploaderUserCode" value="0124"/>
      <add key="vUploadSourcePath" value="http://localhost/DiSoftCI_WS/DICOM" />
      <add key="DicomFilePath" value=" E://Application//BizNet//DiSoft-C//DiSoftCI//MIApi//DICOM"/>
      <!--Your application Dicom image folder path-->
      <add key="SupportedFileExt" value="dcm,DCM"/>
      <add key="chunkSize" value="256000"/>
      <add key="DISoftAPIURL" value="http://localhost/DiSoftCI_WS/API/" />
      <add key="DicomName" value="http://localhost/DiSoftCI_WS/API/DICOM" />
      <add key="Smtp_ServerHost" value="smtp.office365.com"/>
      <add key="Smtp_ServerEmailId" value="disoft@lambda-cro.com"/>
      <add key="Smtp_ServerEmailPassword" value="Lam@Di#678"/>
      <add key="Version_Env" value="Version 2.2.1" />
      <add key="ToUserCer" value="disoft@lambda-cro.com"/>
    </appSettings>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.5.3700.0" newVersion="11.5.3700.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.5.3700.0" newVersion="11.5.3700.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>